@import './base.css';
@import 'tailwindcss';


@theme {
  --font-montserrat: "Montserrat", sans-serif;

  --color-background-start: #161616;
  --color-background-center: #111111;
  --color-background-end: #202020;

  --color-button-start: #1B8600;
  --color-button-center: #007D0F;
  --color-button-end: #015104;

  --color-info-box: #242424;
  --color-info-box-border: #4E4E4E;
  --color-info-box-second: #2D2D2D;
}

#app {
  min-width: 100vh;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: white;
}